body {
	margin: 0 auto;
	max-width: 50em;
	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 4em 1em;
	color: #555;
}

h1,
h2,
h3,
b,
u,
strong,
#code-fragment {
	color: rgb(0, 0, 0);
}

h2 {
	margin-top: 1em;
	padding-top: 1em;
}

.rule-button {
	font-size: 60pt;
}

.main-container {
	display: grid;
	gap: 1rem;

	grid-template-rows: repeat(7, 100 / 7);
}

.button-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(3, 1fr);
}
